        #wrap {
            background-color: rgb(255, 206, 233);
            text-align: center;
        }
        section {
            text-align: center;
            padding-bottom: 30px;
        }
        section img{
            width: 30%;
            margin-top: 50px;
        }
        #enter {
            width: 300px;
            height: 60px;
            background-color: #fff;
            border: 3px solid rgb(250, 131, 131);
            border-radius: 30px;
            font-family: HY견고딕;
            font-size: large;
            color: rgb(250, 131, 131);
            outline: none;
            margin-bottom: 60px;
            cursor: pointer;
            outline: none;
        }
        #enter:hover {
            background-color: rgb(250, 131, 131);
            color: rgb(255, 255, 255);
        }